.github
.husky
.vscode
/src
/tests
.gitignore
.eslintcache
.eslintignore
.eslintrc
.prettierignore
.prettierrc
.travis.yml
tsconfig.json
/artifacts/tests
/artifacts/**/*.scrypt.map
/artifacts/**/*.json
.asm/

