.github
.husky
.vscode
optimizations
src
tests
.gitignore
node_modules
scrypts/**/*
!scrypts/src/**/*.scrypt
.eslintcache
.eslintignore
.eslintrc
.prettierignore
.prettierrc
.travis.yml
dist/tests/**/*

